In [15]:
import scipy.io
import pandas as pd
import numpy as np
import os
import shutil

devkit_path = "/home/eonrrfe/Documents/Repos/Others/CarDetection/test_images/car_devkit/devkit"
original_annos_path = "/home/eonrrfe/Documents/Repos/Others/CarDetection/test_images/Standford standard car set/archive/cars_annos.mat"

In [34]:
# COPY
new_mat = scipy.io.loadmat(f"{devkit_path}/cars_train_annos.mat")
trial = np.hstack(new_mat['annotations'])
trial_df = pd.DataFrame(trial)
trial_df['file_name'] = trial_df['fname']
trial_df['file_name'] = trial_df['file_name'].map(np.array2string)
trial_df['file_name'] = trial_df['file_name'].map(lambda x:x.lstrip("['").rstrip("']"))

trial_df
# min(trial_df["class"])

      bbox_x1  bbox_y1   bbox_x2   bbox_y2    class        fname  file_name
0      [[39]]  [[116]]   [[569]]   [[375]]   [[14]]  [00001.jpg]  00001.jpg
1      [[36]]  [[116]]   [[868]]   [[587]]    [[3]]  [00002.jpg]  00002.jpg
2      [[85]]  [[109]]   [[601]]   [[381]]   [[91]]  [00003.jpg]  00003.jpg
3     [[621]]  [[393]]  [[1484]]  [[1096]]  [[134]]  [00004.jpg]  00004.jpg
4      [[14]]   [[36]]   [[133]]    [[99]]  [[106]]  [00005.jpg]  00005.jpg
...       ...      ...       ...       ...      ...          ...        ...
8139    [[3]]   [[44]]   [[423]]   [[336]]   [[78]]  [08140.jpg]  08140.jpg
8140  [[138]]  [[150]]   [[706]]   [[523]]  [[196]]  [08141.jpg]  08141.jpg
8141   [[26]]  [[246]]   [[660]]   [[449]]  [[163]]  [08142.jpg]  08142.jpg
8142   [[78]]  [[526]]  [[1489]]   [[908]]  [[112]]  [08143.jpg]  08143.jpg
8143   [[20]]  [[240]]   [[862]]   [[677]]   [[17]]  [08144.jpg]  08144.jpg

[8144 rows x 7 columns]

In [28]:
cars_meta = scipy.io.loadmat(f"{devkit_path}/cars_meta.mat")
meta = np.hstack(cars_meta['class_names'])
meta_df = pd.DataFrame(meta)

meta_df

                                      0
0          [AM General Hummer SUV 2000]
1                 [Acura RL Sedan 2012]
2                 [Acura TL Sedan 2012]
3                [Acura TL Type-S 2008]
4                [Acura TSX Sedan 2012]
..                                  ...
191  [Volkswagen Beetle Hatchback 2012]
192          [Volvo C30 Hatchback 2012]
193              [Volvo 240 Sedan 1993]
194               [Volvo XC90 SUV 2007]
195     [smart fortwo Convertible 2012]

[196 rows x 1 columns]

In [29]:
orig_mat = scipy.io.loadmat(original_annos_path)
# orig_annos
orig_annos = np.hstack(orig_mat['annotations'])
orig_df = pd.DataFrame(orig_annos)
orig_df['class_number'] = orig_df['class'].astype(float)

names= orig_mat['class_names'].copy()
names_df = pd.DataFrame(names).T
names_df['class_number'] =names_df.index+1
names_df['car_name'] = names_df[0].map(lambda x:np.array2string(x).lstrip("['").rstrip("']"))
names_df = names_df.drop(columns = 0)

merged_df= orig_df.merge(names_df, left_on='class_number', right_on = 'class_number')

# merged_df
merged_df.loc[merged_df["class_number"]==1.0]

,relative_im_path,bbox_x1,bbox_y1,bbox_x2,bbox_y2,class,test,class_number,car_name
0,[car_ims/000001.jpg],[[112]],[[7]],[[853]],[[717]],[[1]],[[0]],1.0,AM General Hummer SUV 2000
1,[car_ims/000002.jpg],[[48]],[[24]],[[441]],[[202]],[[1]],[[0]],1.0,AM General Hummer SUV 2000
2,[car_ims/000003.jpg],[[7]],[[4]],[[277]],[[180]],[[1]],[[0]],1.0,AM General Hummer SUV 2000
3,[car_ims/000004.jpg],[[33]],[[50]],[[197]],[[150]],[[1]],[[0]],1.0,AM General Hummer SUV 2000
4,[car_ims/000005.jpg],[[5]],[[8]],[[83]],[[58]],[[1]],[[0]],1.0,AM General Hummer SUV 2000
...,...,...,...,...,...,...,...,...,...
84,[car_ims/000085.jpg],[[12]],[[18]],[[113]],[[78]],[[1]],[[1]],1.0,AM General Hummer SUV 2000
85,[car_ims/000086.jpg],[[26]],[[72]],[[774]],[[480]],[[1]],[[1]],1.0,AM General Hummer SUV 2000
86,[car_ims/000087.jpg],[[24]],[[1]],[[368]],[[199]],[[1]],[[1]],1.0,AM General Hummer SUV 2000
87,[car_ims/000088.jpg],[[2]],[[13]],[[160]],[[120]],[[1]],[[1]],1.0,AM General Hummer SUV 2000
88,[car_ims/000089.jpg],[[11]],[[13]],[[84]],[[60]],[[1]],[[1]],1.0,AM General Hummer SUV 2000